/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'Electrolize';
    src: url('./assets/fonts/Electrolize/Electrolize-Regular.ttf');
  }